.site-footer {
  background-color: #2abaff;
  width: 100%;
  margin: 0px;
}

.titulo-footer {
  padding-top: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0px 15px 40px;
  letter-spacing: 2px;
}

.footer-text {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  list-style: none;
  text-decoration: none;
}

.footer-text li a:link,
.footer-text li a:active,
.footer-text li a:visited {
  text-decoration: none;
  list-style: none;
  color: #fff !important;
  padding-left: 10px;
  letter-spacing: 2px;
}

.footer-text li a:hover {
  color: #fff748 !important;
}

.footer-contact-icons {
  color: #fff748;
}

.icon-limit {
  width: 25px;
  display: inline-block;
  text-align: center;
  margin: 0px 0px 5px 30px;
}

.email-icon {
  height: 20px;
  width: 30px;
}

.phone-icon {
  height: 25px;
  width: 25px;
}

.copyright-text {
  margin: 15px 0px 0px 40px;
  padding: 0px 0px 10px 0px;
  font-size: 14px;
  text-align: left;
  color: #fff748;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  margin: 20px 0px !important;
}

.social-icons li {
  margin-right: 15px;
}

.facebook-footer,
.twitter-footer,
.instagram-footer,
.linkedin-footer,
.medium-footer,
.soundcloud-footer,
.meetup-footer,
.flickr-footer,
.youtube-footer {
  color: white;
  font-size: 25px;
}

.facebook-footer:hover,
.twitter-footer:hover,
.instagram-footer:hover,
.linkedin-footer:hover,
.medium-footer:hover,
.soundcloud-footer:hover,
.meetup-footer:hover,
.flickr-footer:hover,
.youtube-footer:hover {
  color: #fff748;
}

@media (max-width: 768px) {
  .footer-text {
    text-align: center;
    font-size: 15px;
  }

  .site-footer h6 {
    text-align: center;
    margin: 10px 0px 15px 0px;
  }

  .site-footer ul {
    margin: 0px;
    padding: 0px;
  }

  .footer-text {
    margin: 0px;
    padding: 0px;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons-div {
    margin-top: 20px;
  }

  .facebook-footer,
  .twitter-footer,
  .instagram-footer,
  .linkedin-footer,
  .medium-footer,
  .soundcloud-footer,
  .meetup-footer,
  .flickr-footer,
  .youtube-footer {
    font-size: 20px;
  }

  .icon-limit {
    margin: 0px 0px 5px 0px;
  }

  .copyright-text {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 400px) {
  .footer-text {
    font-size: 13px;
  }

  .titulo-footer {
    font-size: 1em;
  }

  .social-icons-div {
    margin-top: 20px;
  }

  .facebook-footer,
  .twitter-footer,
  .instagram-footer,
  .linkedin-footer,
  .youtube-footer {
    font-size: 20px;
  }

  .icon-limit {
    width: 30px;
  }

  .copyright-text {
    font-size: 10px;
  }
}
