.navbar-links a:hover {
  color: #e83f36 !important;
}

.navbar-links a {
  color: #ffffff !important;
  font-family: 'Economica', sans-serif !important;
  font-size: 30px;
  margin: 10px 25px 10px 0px;
}

#active-key {
  color: #e83f36 !important;
}
