/* Verde: 41d062
Amarelo: fff748
Laranja: ffbd50
Rosa: ff77cb
Azul: 2abaff
Vermelho: EA5959 */

.navbar-links a:hover {
  color: #fff748 !important;
}

.navbar-links a {
  color: #ffffff !important;
  font-family: 'Economica', sans-serif !important;
  font-size: 20px;
  margin-right: 25px;
}

#active-key {
  color: #fff748 !important;
}

.navbar-custom {
  background-color: #2abaff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1);
  box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1);
}

.simao {
  font-weight: bolder;
}
